
img{
    height: 600px;
    width: 20%;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    align-items: center;
}
nav img{
    height: 50px;
    width: 50px;
}
nav a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
.saiyans>h3{
    text-align: center;
    font-size: 40px;

}